.wave{
    backdrop-filter: blur(2px);
    height: 33vw;
    z-index: -1;
}

.title{
    position: absolute;
    font-family: MontserratBold;
    opacity: .6;
    background: -webkit-linear-gradient(#d4af37, #F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.upSubtitle{
   
    position: absolute;
    font-family: MontserratBold;
    opacity: .6;
    background: -webkit-linear-gradient(#d4af37, #F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    top: -1vw;

}

.containerTitle{
    height: 25vw;
    position: absolute;
    width: 55vw;
    z-index: 1;
    top: 15vw;
    left:10vw;
}

.containerSubtitle{
    z-index: 2;
    height: 25vw;
    position: absolute;
    width: 75vh;
    top: 27vw;
    left:12vw; 
}

.paragraph{
    font-family: MontserratMediumItalic;

}


