.wave{
    backdrop-filter: blur(2px);
    height: 33vw;
    z-index: -1;
}

.title{
    
    font-family: MontserratBold;
    
    color: #fcfcfd;
      
}

.upSubtitle{
   
   
    font-family: MontserratBold;
    color: #fcfcfd;
   

}

.containerTitle{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 25vw;
    position: absolute;
    width: 55vw;
    z-index: 1;
    top: 15vw;
    left:10vw;
/* From https://css.glass */
/* background: rgba(26, 26, 26, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); */
    
}

.containerSubtitle{
    z-index: 2;
    height: 25vw;
    position: absolute;
    width: 75vh;
    top: 27vw;
    left:12vw; 
}

.paragraph{
    font-family: MontserratMediumItalic;

}


